# Question 1

In [5]:
def user (a, b):
    str1 = input("what is your name ")
    str2 = input("what is your family name ")
    print("hello", str2 + " " + str1)
    return str1, str2
user("Omar", "KRARTI")

what is your name Omar
what is your family name KRARTI
hello KRARTI Omar

('Omar', 'KRARTI')

# Question 2

In [19]:
n = input()
a = int(n)
b = int(n+n)
c = int(n+n+n)
d = a+b+c
print(d)

5
615

# Question 3

In [4]:
def pair_or_impair(a):
    if (a % 2 == 0):
        print(a, "est un nombre pair")
    else :
        print(a,"est un nombre impair")
    return a
pair_or_impair(16)

16 est un nombre pair

16

# Question 4

In [5]:
def numbers():
    numbers = []
    for i in range(2000, 3201):
        if (i%7==0) and (i%5!=0):
            numbers.append(i)
    return numbers
numbers()

[2002,
 2009,
 2016,
 2023,
 2037,
 2044,
 2051,
 2058,
 2072,
 2079,
 2086,
 2093,
 2107,
 2114,
 2121,
 2128,
 2142,
 2149,
 2156,
 2163,
 2177,
 2184,
 2191,
 2198,
 2212,
 2219,
 2226,
 2233,
 2247,
 2254,
 2261,
 2268,
 2282,
 2289,
 2296,
 2303,
 2317,
 2324,
 2331,
 2338,
 2352,
 2359,
 2366,
 2373,
 2387,
 2394,
 2401,
 2408,
 2422,
 2429,
 2436,
 2443,
 2457,
 2464,
 2471,
 2478,
 2492,
 2499,
 2506,
 2513,
 2527,
 2534,
 2541,
 2548,
 2562,
 2569,
 2576,
 2583,
 2597,
 2604,
 2611,
 2618,
 2632,
 2639,
 2646,
 2653,
 2667,
 2674,
 2681,
 2688,
 2702,
 2709,
 2716,
 2723,
 2737,
 2744,
 2751,
 2758,
 2772,
 2779,
 2786,
 2793,
 2807,
 2814,
 2821,
 2828,
 2842,
 2849,
 2856,
 2863,
 2877,
 2884,
 2891,
 2898,
 2912,
 2919,
 2926,
 2933,
 2947,
 2954,
 2961,
 2968,
 2982,
 2989,
 2996,
 3003,
 3017,
 3024,
 3031,
 3038,
 3052,
 3059,
 3066,
 3073,
 3087,
 3094,
 3101,
 3108,
 3122,
 3129,
 3136,
 3143,
 3157,
 3164,
 3171,
 3178,
 3192,
 3199]

# Question 5

In [9]:
def factorial(a):
    prod = 1
    if a >= 1 :
        for i in range (1, a+1):
            prod *= i
    return prod
factorial(8)

40320

# Question 6

In [3]:
def remove(str):
    new_str = " "
    for i in range(0,len(str)):
        while i % 2 == 0 :
            print(str[i], end = " ")
            i += 1
    new_str += str[i]
    return new_str
remove("hello team")

h l o t a

' m'

# Question 7

In [7]:
price = int(input())
new_number = float()
if price >=500 :
    new_number = price * 0.5
elif price >= 200 and price <= 500 :
    new_number = price *0.7
elif price < 200 :
    new_number = price* 0.9
print("Le nouveau prix est", new_number)

499
Le nouveau prix est 349.29999999999995